@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    --color-primary-bg: #1a202c;
    --color-secondary-bg: #1f2937; 
    --color-primary-text: #f7fafc;
    --color-card-text-secondary: #d1d5db; 
    /* --color-primary-dark: #646cffaa; */
    --color-secondary: #61dafb;
    --color-border: #4a5568;
    /* --color-secondary-light: #61dafbaa;
    --color-secondary-dark: #61dafbaa;     */
}
